<% columns.each do |col| -%>
<% if col[0].downcase != 'id' && col[0].downcase != '_id' -%>  
<p>
  <label><%= col[0].camelcase %></label>
  <br/>
  <%%= form.<%= field_type(col[1]) %> :<%= col[0].downcase -%> %>
</p>
<% end -%>
<% end -%>