<% klass.columns.each do |col| -%>
<% if col.name.downcase != 'id' -%>  
<p>
  <label><%= col.name.camelcase %></label>
  <br/>
  <%%= form.<%= field_type(col.type.to_s) %> :<%= col.name.downcase -%> %>
</p>
<% end -%>
<% end -%>